
.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
background-color: blue;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px;    /* if you want it vertically middle of the navbar. */
}
.navigation-bar > a {
    display: block;
    padding: 8px; 
    background-color: red; 
}


ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
}

li {
    display: inline;
    text-align: right;
}


.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color: #373738;
    padding: 1%;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    list-style-type: none;
}
